<!-- Name and description of bills coming up in the House
Name and description of bills coming up in the Senate
List of recent bills
Select bill and see name, description, sponsor, committee, date introduced, link to latest version -->

<h1>{{#link-to 'house-bills'}}Upcoming House Bills{{/link-to}}</h1>

<h1>{{#link-to 'senate-bills'}}Upcoming Senate Bills{{/link-to}}</h1>
