<h1>Committees</h1>

<div class="col-md-4">
    <form>
    <div class="form-group">
      <label for="chamber">Chamber</label>
      {{input value=chamber id="chamber"}}
    </div>

    <button class="btn btn-primary" {{action 'submit'}}>Submit</button>
  </form>
</div>

<div class="col-md-8">
  {{outlet}}
</div>
