  <br>
  {{#each legislator in model}}
    <p><span class="legislator-name">{{legislator.first_name}}  {{legislator.last_name}}</span><br> Contact: <a href={{legislator.contact_form}}>  {{legislator.contact_form}}<br></a></p>
  {{/each}}
